@* @Context.Session.GetString("role") *@
@using TaskDemo.Models

@model List<MyTask>

@{
    ViewData["Title"] = "index";
}
<h2>List Of Task</h2>
<a href="/Task/Add"> <button class="btn btn-primary">Add Task</button> </a>
<a href="/User/Register"><button class="btn btn-primary">Register</button></a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Task Type</th>
            <th>Assign Date</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>c_taskusername</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var task in Model)

        {
            <tr>
                <td>@task.c_taskid</td>
                <td>@task.c_tasktypeid</td>
                <td>@task.c_taskissue</td>
                <td>@task.c_initialdate.ToString("dd-MM-yyyy")</td>
                <td>@task.c_duedate.ToString("dd-MM-yyyy")</td>
                <td>@task.c_status</td>
                <td>@task.c_taskusername</td>
                <td class="action-buttons">
                    <a class="edit-btn" asp-action="Edit" asp-route-id="@task.c_taskid"><button class="btn btn-secondary">Edit</button></a>
                    <a class="delete-btn" asp-action="Delete" asp-route-id="@task.c_taskid"><button class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
        }
    </tbody>

</table>